<!DOCTYPE html>
<html>
  <head>
    <title>stockclosr</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>stockclosr.com</h1>
    <p>Welcome to World.</p>
  </body>
</html>
