<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Stock Information</title>
		<meta charset="utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">

					<nav id="nav">
						<ul>
							<li><a href="/watchlist">Watch List</a></li>
							<li><a href="#" class="button special">Sign Out</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">

							<div id="clock">CLOCK</div>
							<h2>TICKER SYMBOL</h2>
							<p>Company Name</p>
						</header>

						<!-- Text -->

						<!-- Lists -->
							<section>

								<div class="row">
									<div class="6u 12u(xsmall)">



										<h4>Price Info</h4>
										<ul class="alt">
											<li>Opening Price:</li>
											<li>Last Close:</li>
											<li>Current:</li>
											<li>Closing Prediction:  <a class="waves-effect waves-light btn" href="#modal1" id="closingPrediction">Predict</a></li>
											<li>Closing Avg. Guess:</li>
										</ul>

									</div>
									<div class="6u 12u(xsmall)">

										<h4>Closing Price Chart</h4>


									</div>
								</div>




			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<div id="modal1" class="modal">
	    <div class="modal-content">

	      <p>Please Enter Your Guess for the closing price of STOCKTICKER</p><div class="input-field col s6">
          <input placeholder="Placeholder" id="predictedClosingPrice" type="text" class="validate">

        </div>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="enterPrediction">Enter</a>
	    </div>
	  </div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script type="text/javascript" src="js/materialize.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
			<script src="/js/moment.js"></script>
      <script src="/js/app.js"></script>
			<script src="/js/countdown.min.js"></script>
			<script src="/js/moment-countdown.min.js"></script>
			<script src="/js/jquery.countdown.min.js"></script>


	</body>
</html>
