<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Watch List</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>

		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">

					<nav id="nav">
						<ul>
							<li><a href="/logout" class="btn-small">Log Out</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h1>Watch List</h1>
							<form class="well form-inline">
								<div class="row content">
									<input type="text" name="searchTerm" id="symbolSearch" class="input" placeholder="Enter company ticker symbol">
									<span class="help-inline hide label label-info"></span>
								</form>
						</div>
					</div>
						</header>



						<!-- Table -->
							<section>
								<div class="table-wrapper">
									<table id="table" class="alt">
									  <thead>
									    <tr>

												<th>(Remove)</th>
									      <th>Symbol</th>
									      <th>Company</th>
									      <th>Opening Price</th>
												<th>Current</th>
									      <th>High</th>
												<th>Low</th>
									      <th>Prediction</th>
									      <th>Closing Avg. Guess</th>
									    </tr>
									  </thead>
										<tbody id="tbody">
									  </tbody>
									</table>
								</div>

							</section>
		<!-- Scripts -->
				<script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
				<script type="text/javascript" src="js/materialize.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="/js/main.js"></script>
				<script src="/js/app.js"></script>
				<script src="/js/moment.js"></script>



	</body>
</html>
